body{
    margin: 0;
    display: flex;
}

header{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin: 30px;
    font-family: sans-serif;
}

ul{
    background-color: sandybrown;
    padding: 20px;
}



